.header__search {
  display: flex;
  width: 45%;
}

.header__search input {
  flex: 1;
  padding: 8px;
}

.header__search button {
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}
